global
    daemon
    maxconn 256

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend mtproto_frontend
    bind *:443
    default_backend mtproto_backend

backend mtproto_backend
    balance roundrobin
    option tcp-check
    server proxy1 ad3.arixo.shop:443 check
    server proxy2 ad3.fluxvpnguard.ru:443 check
    server proxy3 net.antitspu.com:443 check
    server proxy4 medblock.ink:443 check
    server proxy5 cdn.kvakzon.top:443 check
    server proxy6 65.21.83.228:443 check
    server proxy7 app.librava.click:443 check
    server proxy8 proxy.garden-troll.life:443 check
    server proxy9 ad2.arixo.shop:443 check
    server proxy10 ad4.arixo.shop:443 check
    server proxy11 zon-b0z.co.uk.:443 check
    server proxy12 194.120.230.26:443 check
    server proxy13 best7uer.co.uk:443 check
    server proxy14 gate.soluqent.pro:443 check
    server proxy15 motasel.co.uk:443 check
    server proxy16 cloud.neoqua.pro:443 check
    server proxy17 br8ta.co.uk.:443 check
    server proxy18 ad5.fluxvpnguard.ru:443 check
    server proxy19 Bezan-Ke.Khob-Mizani.manege-desktop-for.co.im.:4443 check
    server proxy20 mirror.balalaika.click:443 check
    server proxy21 link.mishkalapy.life:443 check
    server proxy22 app.what-ever.co.uk.:443 check
    server proxy23 webhook.what-ever.co.uk.:443 check
    server proxy24 fleethop.org:443 check
    server proxy25 webhook.vingardium.co.uk.:443 check
    server proxy26 cdn.toconvel.digital:443 check
    server proxy27 fleethop.online:443 check
    server proxy28 secure.medhata.org:443 check
    server proxy29 googel.alo-otp.info.:25565 check
    server proxy30 ops2ops.co.uk.:443 check
    server proxy31 medblock.ink:443 check
    server proxy32 neo-vpn.ink:443 check
    server proxy33 medblock.fit:443 check
    server proxy34 subobdoa.co.uk.:443 check
    server proxy35 fas8t.co.uk.:443 check
    server proxy36 beer.crona-extra.co.uk:8443 check
    server proxy37 rudomain.info.:443 check
    server proxy38 server.nl-arvancloud.co.uk:443 check
    server proxy39 portal.malevich7.top:443 check
    server proxy40 new7.mizanmizanesgh.co.uk:4455 check
    server proxy41 r1.balebale.co.uk:4455 check
    server proxy42 did-domak.ir.hadihoda.info.:88 check
    server proxy43 Lashboy.muzanesghy.co.uk:4455 check
    server proxy44 bo9ss.co.uk.:443 check
    server proxy45 beest-sellerst.co.uk.:443 check
    server proxy46 fresh.t-proxy.info.:25565 check
    server proxy47 api.groundfloorsolutions.co.uk.:443 check
    server proxy48 bastani.mikham.co.uk:8443 check
    server proxy49 chelipa.co.uk.:443 check
    server proxy50 pathory.co.uk.:443 check
    server proxy51 uploi1on.ir:443 check
    server proxy52 sisu.proxytales.life:443 check
    server proxy53 New1.ugtd8sxxcyt.co.uk:4455 check
    server proxy54 hide.he6fhd.ru:8443 check
    server proxy55 relaywise.co.uk.:443 check
    server proxy56 Fighter-Man.ir-proxy.Manege-Desktop-For.Co.Im.:4443 check
    server proxy57 New.nchnch.co.uk:4455 check
    server proxy58 nazar.ir.meli-n13.info:8443 check
    server proxy59 main.muffinnoliershatelcomingsoon.co.uk.:443 check
    server proxy60 syzygy.sosun4ik.top:443 check
    server proxy61 esmchiy.ir:443 check
    server proxy62 chai.mikham.co.uk:8443 check
    server proxy63 iran-download.dinocol.co.uk.:8443 check
    server proxy64 download-iran.dinocol.co.uk.:8443 check
    server proxy65 empire-of-west-asia.ir.abcyrajslklhga.info.:88 check
    server proxy66 api-web.asiaadomainsshatelhamrahaval.co.uk.:443 check
    server proxy67 ai.golgoli1.co.uk:2096 check
    server proxy68 opeenhostings.co.uk.:443 check
    server proxy69 mc-ssh.t-proxyru.info.:25565 check
    server proxy70 aerie.sosun4ik.top:443 check
    server proxy71 65.108.230.201:88 check
    server proxy72 super.sub-ploter.co.uk:25565 check
    server proxy73 at.foltmeingop.co.uk:8880 check
    server proxy74 135.181.74.178:443 check
    server proxy75 mashtibash.vafadari.co.uk:2096 check
    server proxy76 65.108.123.76:443 check
    server proxy77 ma.hastim.co.uk:443 check
    server proxy78 cinema-hulk.avangement.info:443 check
    server proxy79 full-vasl.ir-xyz.gdhbvjshjrf.info.:88 check
    server proxy80 chehsmat.ir.hadihoda.info.:88 check
    server proxy81 downlload.forzajuve.co.uk.:8443 check
    server proxy82 achar-ghofli-chie.avangement.info:443 check
    server proxy83 we.are.iran.ir.abcyrajslklhga.info.:88 check
    server proxy84 tabibie.del.davazdah.info:443 check
    server proxy85 turbo-jet.balestic.ir.ghsisncbv.info.:88 check
    server proxy86 downloaad.forzajuve.co.uk.:8443 check
    server proxy87 65.108.230.201:88 check
    server proxy88 65.108.123.76:443 check
    server proxy89 mashtibash.vafadari.co.uk:2096 check
    server proxy90 main.muffinnoliershatelcomingsoon.co.uk.:443 check
    server proxy91 chelipa.co.uk.:443 check
    server proxy92 pathory.co.uk.:443 check
    server proxy93 uploi1on.ir:443 check
    server proxy94 sisu.proxytales.life:443 check
    server proxy95 New1.ugtd8sxxcyt.co.uk:4455 check
    server proxy96 hide.he6fhd.ru:8443 check
    server proxy97 relaywise.co.uk.:443 check
    server proxy98 Fighter-Man.ir-proxy.Manege-Desktop-For.Co.Im.:4443 check
    server proxy99 New.nchnch.co.uk:4455 check
    server proxy100 nazar.ir.meli-n13.info:8443 check
    server proxy101 main.muffinnoliershatelcomingsoon.co.uk.:443 check
    server proxy102 syzygy.sosun4ik.top:443 check
    server proxy103 esmchiy.ir:443 check
    server proxy104 chai.mikham.co.uk:8443 check
    server proxy105 iran-download.dinocol.co.uk.:8443 check
    server proxy106 download-iran.dinocol.co.uk.:8443 check
    server proxy107 empire-of-west-asia.ir.abcyrajslklhga.info.:88 check
    server proxy108 api-web.asiaadomainsshatelhamrahaval.co.uk.:443 check